/* 
CSS file containing variable definitions used throughout the application
Last edited by: Blake Good
Date: 11/5/24
*/

:root {
  /* FWDX color variables */
  /* Main colors (blue, yellow, white) */
  --fwdx-blue: #0E113E;
  --fwdx-yellow: #FFC906;
  --fwdx-yellow-transparent: #ffc906b4;
  --fwdx-blue-transparent: #0e113e80;
  --fwdx-white: #FFFFFF;
  /* Text colors */
  --light-gray-text: #B2B2B2;
  --dark-gray-text: #757575;
  --blue-button-text: #F5F5F5;
  --yellow-button-text: var(--fwdx-blue);
  --light-gray-button-text: var(--fwdx-blue);
  --red-text: #f45050;
  --green-text: #37de74;
  /* Button background colors */
  --transparent-button-hover: #F3F3F3;
  --light-gray-active-button: #D8D8D8;
  --light-gray-button-bg: #E3E3E3;
  --light-gray-button-hover: #DBDBDB;
  --fwdx-blue-button-hover: #121754;
  /* Border-related values */
  --input-border-radius: 5px;
  --input-focus-border: 1.5pt solid var(--fwdx-yellow);
  --input-focus-outline: none;
  /* Miscellaneous */
  --light-gray-container-background: #f5f5f5;
  --gray-page-background: #FCFCFC;
  --dark-box-shadow: rgba(0, 0, 0, 0.05);
  --light-gray-outline: #E0E0E0;
  --disabled-button-opacity: 0.35;
  --container-box-shadow: 0 4px 12px -12px var(--fwdx-blue);
  /* Font Sizes and Weights*/
  --page-header-size: 1.6em;
  --page-header-weight: 700;
  --page-header-line-height: 1.65rem;
  --subheading-size: 1.25em;
  --subheading-weight: 700;
  --body-text-size: 1em;
  --mismatch-body-weight: 500;
  /* Form Section Styles */
  --form-element-spacing: 2em;
  --form-header-margin: 0.625em;
  --form-checkbox-row-gap: 0.5em;
  --form-button-col-gap: 1em;
  --form-padding: 1.65em;


  /* 
  Below are all default variables included with the Vue applicaiton setup
  */
  --vt-c-white: #ffffff;
  --vt-c-white-soft: #f8f8f8;
  --vt-c-white-mute: #f2f2f2;

  --vt-c-black: #FFFFFF;
  --vt-c-black-soft: #FFFFFF;
  --vt-c-black-mute: #FFFFFF;

  --vt-c-indigo: #FFFFFF;

  --vt-c-divider-light-1: #FFFFFF;
  --vt-c-divider-light-2: #FFFFFF;
  --vt-c-divider-dark-1: #FFFFFF;
  --vt-c-divider-dark-2: #FFFFFF;

  --vt-c-text-light-1: var(--vt-c-indigo);
  --vt-c-text-light-2: #FFFFFF;
  --vt-c-text-dark-1: var(--vt-c-white);
  --vt-c-text-dark-2: #FFFFFF;
}

/* semantic color variables for this project */
:root {
  --color-background: var(--vt-c-white);
  --color-background-soft: var(--vt-c-white-soft);
  --color-background-mute: var(--vt-c-white-mute);

  --color-border: var(--vt-c-divider-light-2);
  --color-border-hover: var(--vt-c-divider-light-1);

  --color-heading: var(--vt-c-text-light-1);
  --color-text: var(--vt-c-text-light-1);

  --section-gap: 160px;
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-background: var(--vt-c-black);
    --color-background-soft: var(--vt-c-black-soft);
    --color-background-mute: var(--vt-c-black-mute);

    --color-border: var(--vt-c-divider-dark-2);
    --color-border-hover: var(--vt-c-divider-dark-1);

    --color-heading: var(--vt-c-text-dark-1);
    --color-text: var(--vt-c-text-dark-2);

    /* --fwdx-blue: var(--text-blue); */
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

body {
  min-height: 100vh;
  max-height: 100vh;
  overflow-y: scroll;
  color: var(--color-text);
  background: var(--color-background);
  transition:
    color 0.5s,
    background-color 0.5s;
  line-height: 1.6;
  font-family:
    Inter,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    'Fira Sans',
    'Droid Sans',
    'Helvetica Neue',
    sans-serif;
  font-size: 15px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

