/* 
CSS file containing styles used by the main application (<div id="app"> in the file 'index.html') 
Last edited by: Blake Good
Date: 11/5/24
*/
@import './base.css';
@import './datatable.css';

#app {
  min-width: 100vw;
  min-height: 100vh;
  margin: 0 0;
  padding: 0 0;
  font-weight: normal;
  display: grid;
  grid-template-rows: max(40px, 5vh) 95vh;
}

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
  padding: 3px;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}
